# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/

*.pyc

# Environments
.env
.venv
env/*
venv/
ENV/
env.bak/
venv.bak/

.idea/

backup.sql
*.ipynb
.DS_Store

db/*
logs/*
*.db
*.log

